<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.80.0">

    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'site' %>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/navbars/">

  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <%= link_to 'Time to Answer', root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
          <%= form_with(url: site_search_path, local: true, method: :get, class: "navbar-left mr-auto") do |form| %>
            <%= form.text_field :term, class: "form-control", placeholder: "Search" %>
          <% end %> 
          <ul class="navbar-nav navbar-right">
          <% unless user_signed_in? %>
            <li class="nav-item active">
              <%= link_to 'Entrar', new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to 'Registre-se', new_user_registration_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= current_user.email %> </a>
              <div class="dropdown-menu" aria-labelledby="dropdown09">
                <%= link_to users_backoffice_welcome_index_path, class: "dropdown-item" do  %>
                    <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Perfil
                <% end %>
                <hr>
                <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do  %>
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Sair
                <% end %>
              </div>
            </li>
          <% end %>
          </ul>
        </div>
      </nav>

      <main role="main">
        <%= yield %>
      </main>
    </div>

      <%= javascript_include_tag 'application' %>
      <%= javascript_include_tag 'site' %>

    <% if notice %>
      <script>
        $.bootstrapGrowl("<%= notice %>", {
          type: 'success', // (null, 'info', 'danger', 'success')
          align: 'right', // ('left', 'right', or 'center')
          allow_dismiss: true, // If true then will display a cross to close the popup.
          stackup_spacing: 10 // spacing between consecutively stacked growls.
        });
      </script>
    <% end %>

  </body>
</html>
